In [69]:
%run load_n_plot

In [77]:
names= ['fuvest_2020','fuvest_2019','fuvest_2018','fuvest_2017','fuvest_2016','fuvest_2015','fuvest_2014','fuvest_2013','fuvest_2012']
final_columns = ['CORTE_2020','CORTE_2019','CORTE_2018','CORTE_2017','CORTE_2016', 'CORTE_2015', 'CORTE_2014', 'CORTE_2013','CORTE_2012']
dataframes = []

WHITE = (255, 255, 255)
running = True

dataset = load(names, dataframes)
dataset_selected = []
for df in dataset:
    df = df.rename(index = df['CODIGO_E_NOME_DA_CARREIRA'])
    d = select(['CORTE_MIN'], df)
    d['CORTE_MIN'] = d['CORTE_MIN'].astype('float64')
    d = d.dropna()
    dataset_selected.append(d)
# print(dataset_selected)

/home/lubianat/.local/lib/python3.6/site-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]

In [126]:
result = pd.concat(dataset_selected, axis=1, sort=False)
result.columns = final_columns


#result_without_new_courses = result.dropna(thresh=result.shape[1]-2, axis=0)
nomes = result.index

codes = nomes.str.extract('(\d+)')
names = nomes.str.extract('\d+−(.*)')
names

                                                     0
0    Administração, Ciências Contábeis, Economia, E...
1                           Administração − Piracicaba
2                                    Arquitetura − FAU
3                             Arquitetura − São Carlos
4                                        Artes Cênicas
..                                                 ...
148                                  Química Ambiental
149                             Química − Licenciatura
150                                             Exatas
151      Engenharia Elétrica e Computação − São Carlos
152  Física/Meteorologia/Geofísica/Astronomia/Estat...

[153 rows x 1 columns]

In [118]:

cut_variances = result.var(axis = 1)

cut_sd = cut_variances ** (1/2)

cut_mean = result.mean(axis = 1)

In [123]:
summary_dataframe = pd.DataFrame({"Código do curso":codes[0],"Nome do curso":names[0], "Média": cut_mean, "Desvio Padrão":cut_sd, 'Variância': cut_variances})

In [124]:
summary_dataframe.sort_values('Variância')

,Código do curso,Nome do curso,Média,Desvio Padrão,Variância
999−Exatas,NaN,NaN,52.000000,0.000000,0.000000
"420−Ciências da Atividade Física − USP Leste, SP",NaN,NaN,27.000000,0.000000,0.000000
230−Letras,NaN,NaN,27.000000,0.000000,0.000000
810−Informática − São Carlos,NaN,NaN,36.666667,0.577350,0.333333
699−Biológicas,NaN,NaN,48.500000,0.707107,0.500000
...,...,...,...,...,...
790−Física / Física Computacional / Meteorologia / Geofísica / Astronomia / Estatíst,NaN,NaN,44.000000,NaN,NaN
790−Física / Meteorologia / Geofísica / Astronomia / Estatística / Matemática / Mate,NaN,NaN,39.000000,NaN,NaN
790−Física/Meteorologia/Geofísica/Astronomia/Estatística/Matemática/MatemáticaAplic.,NaN,NaN,39.000000,NaN,NaN
815−Licenciatura em Ciências Exatas (com habilitações) − São Carlos,NaN,NaN,27.000000,NaN,NaN
870−Química (Bacharelado e Bacharelado com Atribuições Tecnológicas com Ênfases...,NaN,NaN,41.000000,NaN,NaN

,CORTE_2020,CORTE_2019,CORTE_2018,CORTE_2017,CORTE_2016,CORTE_2015,CORTE_2014,CORTE_2013,CORTE_2012
800,37.0,29.0,44.0,46.0,51.0,54.0,52.0,51.0,52.0

8.363279500291737